.about-conversion {
  margin-bottom: 107px;
  @include min-width-1280 {
    margin-bottom: 73px;
  }
}

.about-conversion__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-conversion__left {
  display: none;
  width: 100%;
  @include min-width-1280 {
    display: block;
    width: 45%;
  }
}

.about-conversion__right {
  width: 100%;
  @include min-width-1280 {
    width: 51%;
  }
}

.about-conversion__right-mob {
  position: relative;
  display: block;
  margin-top: -57px;
  margin-bottom: -40px;
  z-index: -1;
  @include min-width-768 {
    margin-top: -130px;
    margin-bottom: -130px;
  }
  @include min-width-1024 {
    margin-top: -225px;
    margin-bottom: -225px;
  }
  @include min-width-1280 {
    display: none;
  }
}

.about-conversion__title {
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  @include min-width-custom(375px) {
    font-size: 51px;
    line-height: 1.3;
  }
  @include min-width-1280 {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 1.15;
    span {
      font-size: 60px;
    }
  }
  @include min-width-custom(1440px) {
    margin-bottom: 60px;
    font-size: 100px;
    span {
      font-size: 70px;
    }
  }
}

.about-conversion__descr {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  line-height: 1.3;
  span {
    color: $blue;
  }
  @include min-width-1280 {
    margin-bottom: 60px;
    font-size: 28px;
  }
  @include min-width-custom(1440px) {
    margin-bottom: 23px;
    font-size: 30px;
  }
}

.about-conversion__text {
  font-size: 14px;
  color: #7c7d87;
  line-height: 1.5;
  @include min-width-1280 {
    font-size: 16px;
  }
}
