.about-promind {
  margin-bottom: 61px;
  @include min-width-1280 {
    margin-bottom: 117px;
  }
}

.about-promind__wrap {
  display: flex;
  flex-direction: column;
  @include min-width-1280 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include min-width-custom(1440px) {
    align-items: flex-start;
  }
}

.about-promind__left {
  width: 100%;
  @include min-width-1280 {
    width: 51%;
  }
  @include min-width-custom(1440px) {
    width: 49.5%;
  }
}

.about-promind__title {
  margin-bottom: 7px;
  font-size: 65px;
  font-weight: 900;
  @include min-width-custom(375px) {
    font-size: 70px;
  }
  @include min-width-1280 {
    margin-bottom: 11px;
    font-size: 90px;
  }
  @include min-width-custom(1440px) {
    font-size: 100px;
  }
}

.about-promind__description {
  margin-bottom: 52px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  span {
    display: block;
    color: $blue;
  }
  @include min-width-1280 {
    margin-bottom: 50px;
    font-size: 32px;
  }
  @include min-width-custom(1440px) {
    margin-bottom: 39px;
    font-size: 36px;
  }
}

.about-promind__text {
  margin-bottom: 20px;
  font-size: 14px;
  color: #7c7d87;
  line-height: 1.5;
  span {
    font-weight: 700;
    color: #333333;
  }
  @include min-width-1280 {
    font-size: 15px;
  }
  @include min-width-custom(1440px) {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.about-promind__done {
  margin-top: 22px;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  @include min-width-1280 {
    font-size: 18px;
  }
  @include min-width-custom(1440px) {
    margin-top: 14px;
    font-size: 20px;
  }
}

.about-promind__right {
  width: 100%;
  @include min-width-1280 {
    width: 49%;
    text-align: center;
  }
  @include min-width-custom(1440px) {
    text-align: right;
  }
  @include min-width-custom(1900px) {
    text-align: center;
  }
}

.about-promind__img {
  display: none;
  &_mob {
    display: block;
    width: 93.2%;
    margin: 0 auto 52px;
  }
  @include min-width-custom(481px) {
    &_mob {
      width: 70%;
    }
  }
  @include min-width-768 {
    &_mob {
      width: 450px;
    }
  }
  @include min-width-1280 {
    display: inline-block;
    width: 78%;
    &_mob {
      display: none;
    }
  }
  @include min-width-custom(1440px) {
    width: 91%;
  }
  @include min-width-custom(1900px) {
    width: 75%;
  }
}
