$Montserrat: "Montserrat", Arial, Helvetica, sans-serif;
$Inter: "Inter", Arial, Helvetica, sans-serif;
$white: #FFFFFF;
$black: #000000;
$blue: #1A73E8;

html, body, h1, h2, h3, h4, h5, h6, p, button, ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

ul, ol {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
  color: $black;
  background: $white;
  overflow-x: hidden;
}

body.menu-open {
  overflow-y: hidden;
}

main {
  padding-top: 70px;
  flex-grow: 1;
  overflow-x: hidden;
  @include min-width-1280 {
    padding-top: 123px;
  }
}

svg {
  display: inline-block;
  fill: currentColor;
  stroke: none;
}

a {
  display: inline-block;
  color: $black;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

button {
  display: inline-block;
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  &:hover {
    cursor: pointer;
  }
}

input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

label {
  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 1300px;
  padding: 0 70px;
  margin: 0 auto;
  @include max-width-custom(1900px) {
    padding: 0 50px;
  }
  @include max-width-1279 {
    padding: 0 20px;
  }
}

.btn {
  padding: 10px 32px;
  font-family: $Inter;
  font-size: 14px;
  font-weight: 400;
  color: $white;
  background: $blue;
  border-radius: 40px;
  transition: 0.2s;
  &:hover, &:focus {
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
  }
}

@media (min-width: 2500px) {

  .container {
    max-width: 1400px;
  }

}
