section.case
  div.container
    h2.case__title Кейсы
    div.case__filter-title Категория
    div.case__filter-wrap
      button.case__filter-btn(data-filter="all") Все
      button.case__filter-btn(data-filter=".cat-1") Айдентика
      button.case__filter-btn(data-filter=".cat-2") Брендинг
      button.case__filter-btn(data-filter=".cat-3") Логотипы
      button.case__filter-btn(data-filter=".cat-4") POS-материалы
  div.case__block
    div.container
      div.case__wrap
        div.case__item.mix.cat-1(data-order="1")
          h3.case__item-title СвязьИнвест - Финансирование
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-1.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-1-mob.jpg", alt="")
        div.case__item.mix.cat-2(data-order="2")
          h3.case__item-title Arkad Management - Финансовое консультирование
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-2.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-2-mob.jpg", alt="")
        div.case__item.mix.cat-3(data-order="3")
          h3.case__item-title Investmen Group - Инвестиции
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-3.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-3-mob.jpg", alt="")
        div.case__item.mix.cat-4(data-order="4")
          h3.case__item-title L'Alga - Ocean Technology
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-4.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-4-mob.jpg", alt="")
        div.case__item.mix.cat-1(data-order="5")
          h3.case__item-title Ресторан Гранат Black
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-5.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-5-mob.jpg", alt="")
        div.case__item.mix.cat-2(data-order="6")
          h3.case__item-title Yummer - delivery
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-6.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-6-mob.jpg", alt="")
        div.case__item.mix.cat-3(data-order="7")
          h3.case__item-title TopArtStyle
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-7.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-7-mob.jpg", alt="")
        div.case__item.mix.cat-4(data-order="8")
          h3.case__item-title Segment - Разработка проектной документации
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-8.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-8-mob.jpg", alt="")
        div.case__item.mix.cat-1(data-order="9")
          h3.case__item-title Юридическая компания Obligacio
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-9.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-9-mob.jpg", alt="")
        div.case__item.mix.cat-2(data-order="10")
          h3.case__item-title Банкетный залл Гранат Холл
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-10.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-10-mob.jpg", alt="")
        div.case__item.mix.cat-3(data-order="11")
          h3.case__item-title ГорСтрой Проект
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-11.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-11-mob.jpg", alt="")
        div.case__item.mix.cat-4(data-order="12")
          h3.case__item-title Компания Prime Clean
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-12.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-12-mob.jpg", alt="")
        div.case__item.mix.cat-1(data-order="13")
          h3.case__item-title Школа музыки Music Club
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-13.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-13-mob.jpg", alt="")
        div.case__item.mix.cat-2(data-order="14")
          h3.case__item-title Школа вокала Souls Stars
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-14.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-14-mob.jpg", alt="")
        div.case__item.mix.cat-3(data-order="15")
          h3.case__item-title Интернет магазин светильников Luminosa
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-15.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-15-mob.jpg", alt="")
        div.case__item.mix.cat-4(data-order="16")
          h3.case__item-title Компанию 700 машин
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-16.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-16-mob.jpg", alt="")
        div.case__item.mix.cat-1(data-order="17")
          h3.case__item-title Сеть ресторанов Гранатовый Сад №1
          div.case__item-content
            img.case__item-content-img(src="img/picture/case-17.jpg", alt="")
            img.case__item-content-img.case__item-content-img_mob(src="img/picture/case-17-mob.jpg", alt="")
