div.design__slider.swiper
  div.design__slider-wrap.swiper-wrapper
    div.design__slider-item.swiper-slide
      div.design__slider-item-wrap
        div.container
          div.design__slider-item-title Горстрой
          div.design__slider-item-text Создание логотипа и айдентики для компании предоставляющей услуги аренты тяжелой строительной техники
      img.design__slider-item-img.design__slider-item-img_mob(src="img/picture/des-slide-1-mob.jpg", alt="")
      img.design__slider-item-img(src="img/picture/des-slide-1.jpg", alt="")
    div.design__slider-item.design__slider-item_left.swiper-slide
      div.design__slider-item-wrap
        div.container
          div.design__slider-item-title Investman Group
          div.design__slider-item-text Создание логотипа и айдентики для инвестинг-портала, а также создание графических элементов для сайта
      img.design__slider-item-img.design__slider-item-img_mob(src="img/picture/des-slide-2-mob.jpg", alt="")
      img.design__slider-item-img(src="img/picture/des-slide-2.jpg", alt="")
    div.design__slider-item.design__slider-item_dark.design__slider-item_left.swiper-slide
      div.design__slider-item-wrap
        div.container
          div.design__slider-item-title Obligacio
          div.design__slider-item-text Создание логотипа и яркой айдентики для юридической компании
      img.design__slider-item-img.design__slider-item-img_mob(src="img/picture/des-slide-3-mob.jpg", alt="")
      img.design__slider-item-img(src="img/picture/des-slide-3.jpg", alt="")
    div.design__slider-item.design__slider-item_dark.swiper-slide
      div.design__slider-item-wrap
        div.container
          div.design__slider-item-title Yummer Delivery
          div.design__slider-item-text Создание логотипа и яркой айдентики для сети общественного питания Yummer Delivery в основу которой легли трендовые иллюстрации
      img.design__slider-item-img.design__slider-item-img_mob(src="img/picture/des-slide-4-mob.jpg", alt="")
      img.design__slider-item-img(src="img/picture/des-slide-4.jpg", alt="")
    div.design__slider-item.design__slider-item_left.swiper-slide
      div.design__slider-item-wrap
        div.container
          div.design__slider-item-title Гранат Холл
          div.design__slider-item-text Создание логотипа и айдентики для одного из наиболее масштабных банкетных залов Москвы
      img.design__slider-item-img.design__slider-item-img_mob(src="img/picture/des-slide-5-mob.jpg", alt="")
      img.design__slider-item-img(src="img/picture/des-slide-5.jpg", alt="")
    div.design__slider-item.design__slider-item_dark.swiper-slide
      div.design__slider-item-wrap
        div.container
          div.design__slider-item-title Arkad Management
          div.design__slider-item-text Создание логотипа и айдентики для компании, оказывающей услуги по финансовому консультированию.
      img.design__slider-item-img.design__slider-item-img_mob(src="img/picture/des-slide-6-mob.jpg", alt="")
      img.design__slider-item-img(src="img/picture/des-slide-6.jpg", alt="")
    div.design__slider-item.design__slider-item_dark.swiper-slide
      div.design__slider-item-wrap
        div.container
          div.design__slider-item-title Связьинвест
          div.design__slider-item-text Создание логотипа и айдентики банка, а также фирменной полиграфии. РОS материалов и печатной продукции для B2B и B2C аудитории
      img.design__slider-item-img.design__slider-item-img_mob(src="img/picture/des-slide-7-mob.jpg", alt="")
      img.design__slider-item-img(src="img/picture/des-slide-7.jpg", alt="")
  div.design__slider-pagination
