div.logos-partner
  div.container
    div.logos-partner__wrap
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-1.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-2.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-3.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-4.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-5.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-6.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-7.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-8.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-9.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-10.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-11.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-12.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-13.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-14.svg", alt="")
      div.logos-partner__item
        img.logos-partner__img(src="img/svg/partners/partner-15.svg", alt="")
