section.we
  div.container
    h1.we__title Мы разрабатываем
    div.we__subtitle
      div.we__subtitle-wrap
        span Полиграфию
        span Айдентику
        span Брендинг
        span Логотипы
    div.we__wrap
      div.we__left
        p.we__text Дизайн поддерживает положительный имидж компании, повышает узнаваемость образа и формируют лояльное отношение клиентов. Индивидуальный дизайн в нашей web-студии – это креативный процесс, которому предшествует анализ сферы деятельности вашей компании, изучение корпоративного стиля и целей, которых надо достичь.
        p.we__text Дизайн сайта – лаконичный образ компании, выраженный через индивидуальный графический стиль. Web-дизайнеры нашей студии готовы создать сайт, который будет не только привлекать внимание оригинальностью, но и сочетать главные критерии для пользователей – логичный интерфейс и удобство использования. Мы готовы создать дизайн сайта с нуля, сделать редизайн уже существующего ресурса и разработать адаптивные версии для его правильного отображения как на ПК, так и на мобильных устройствах.
        button.we__btn(data-bs-toggle="modal", data-bs-target="#request") Оставить заявку
          svg.we__btn-svg
            use(xlink:href="img/svg/sprite.svg#button-arrow")
      div.we__right
        div.we__slider.swiper
          div.we__slider-wrap.swiper-wrapper
            div.we__slider-item.swiper-slide
              img.we__slider-img(src="img/picture/we-1.png", alt="")
            div.we__slider-item.swiper-slide
              img.we__slider-img(src="img/picture/we-2.png", alt="")
            div.we__slider-item.swiper-slide
              img.we__slider-img(src="img/picture/we-3.png", alt="")
            div.we__slider-item.swiper-slide
              img.we__slider-img(src="img/picture/we-1.png", alt="")
