div.creative
  div.container
    div.creative__wrap
      div.creative__text Представим вашу компанию <span>креативно и динамично</span>, используя лучшие технологии анимации и motion-дизайна!
      button.creative__btn(data-bs-toggle="modal", data-bs-target="#request") Заказать услугу
