section.faq
  div.container
    div.faq__title Faq
    div#accordionFlushExample.faq__accordion.accordion.accordion-flush
      div.faq__accordion-item.accordion-item
        h2#flush-headingOne.faq__accordion-header.accordion-header
          button.faq__accordion-btn.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne") Эффективны ли видео и анимация в рекламе?
        div#flush-collapseOne.faq__accordion-content.accordion-collapse.collapse(aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample")
          div.faq__accordion-body.accordion-body Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
      div.faq__accordion-item.accordion-item
        h2#flush-headingTwo.faq__accordion-header.accordion-header
          button.faq__accordion-btn.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo") В каких форматах можно подготовить видео файлы?
        div#flush-collapseTwo.faq__accordion-content.accordion-collapse.collapse(aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample")
          div.faq__accordion-body.accordion-body Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
      div.faq__accordion-item.accordion-item
        h2#flush-headingThree.faq__accordion-header.accordion-header
          button.faq__accordion-btn.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree") Презентации и коммерческие предложения
        div#flush-collapseThree.faq__accordion-content.accordion-collapse.collapse(aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample")
          div.faq__accordion-body.accordion-body Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
      div.faq__accordion-item.accordion-item
        h2#flush-headingFour.faq__accordion-header.accordion-header
          button.faq__accordion-btn.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour") Какие эффекты мы знаем?
        div#flush-collapseFour.faq__accordion-content.accordion-collapse.collapse(aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample")
          div.faq__accordion-body.accordion-body Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
      div.faq__accordion-item.accordion-item
        h2#flush-headingFive.faq__accordion-header.accordion-header
          button.faq__accordion-btn.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive") Могу ли я добавить музыку к видеофайлам?
        div#flush-collapseFive.faq__accordion-content.accordion-collapse.collapse(aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample")
          div.faq__accordion-body.accordion-body Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
      div.faq__accordion-item.accordion-item
        h2#flush-headingSix.faq__accordion-header.accordion-header
          button.faq__accordion-btn.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix") В каком формате я могу получить видео?
        div#flush-collapseSix.faq__accordion-content.accordion-collapse.collapse(aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample")
          div.faq__accordion-body.accordion-body Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
      div.faq__accordion-item.accordion-item
        h2#flush-headingSeven.faq__accordion-header.accordion-header
          button.faq__accordion-btn.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven") Могу ли я сделать видео файл в нескольких разных форматах?
        div#flush-collapseSeven.faq__accordion-content.accordion-collapse.collapse(aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample")
          div.faq__accordion-body.accordion-body Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
      div.faq__accordion-item.accordion-item
        h2#flush-headingEight.faq__accordion-header.accordion-header
          button.faq__accordion-btn.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight") Могу ли я заказать изготовление и редактирование видео с нуля?
        div#flush-collapseEight.faq__accordion-content.accordion-collapse.collapse(aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample")
          div.faq__accordion-body.accordion-body Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
      div.faq__accordion-item.accordion-item
        h2#flush-headingNine.faq__accordion-header.accordion-header
          button.faq__accordion-btn.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine") Как начать и что для этого нужно?
        div#flush-collapseNine.faq__accordion-content.accordion-collapse.collapse(aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample")
          div.faq__accordion-body.accordion-body Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
      div.faq__accordion-item.accordion-item
        h2#flush-headingTen.faq__accordion-header.accordion-header
          button.faq__accordion-btn.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen") Сколько времени занимает работа над заказом?
        div#flush-collapseTen.faq__accordion-content.accordion-collapse.collapse(aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample")
          div.faq__accordion-body.accordion-body Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
