section.make
  div.container
    div.make__wrap
      div.make__left
        img.make__img.make__img_mob(src="img/picture/make-mob.png", alt="")
        img.make__img(src="img/picture/make.png", alt="")
      div.make__right
        h2.make__title Что мы <span>делаем?</span>
        div.make__buttons
          span.make__btn Socail Media
          span.make__btn SVG-анимация
          span.make__btn VFX
          span.make__btn Клип
          span.make__btn 3D animate
          span.make__btn Презентация
          span.make__btn Монтаж
          span.make__btn YouTube контент
          span.make__btn Продюссирование
        p.make__text Этапы создания моушн-ролика в нашей студии представляют собой комплексный подход, который включает генерацию идеи, формирование концепции и непосредственное создание анимации.
