section.motion
  div.container
    div.motion__wrap
      div.motion__left
        h1.motion__title Motion design
        img.motion__left-img-mob(src="img/picture/motion-mob.png", alt="")
        p.motion__text Анимация и моушн-дизайн новый уровень эмоций и их преимущества в сравнение с обычными статическими изображениями очевидны. Это информативность, актуальность, современность, эффектность и лаконичность.
        button.motion__btn.btn(data-bs-toggle="modal", data-bs-target="#request") Заказать услугу
      div.motion__right
        img.motion__right-img(src="img/picture/motion-desktop.png", alt="")
