section.motion-case
  div.container
    h2.motion-case__title Кейсы
    div.motion-case__sw.swiper
      div.motion-case__sw-wrap.swiper-wrapper
        div.motion-case__sw-item.swiper-slide
          div.motion-case__sw-wrap
            a.motion-case__sw-link(href="#")
              img.motion-case__sw-img(src="img/picture/motion-case-1.png", alt="")
              div.motion-case__sw-text Видеореклама товаров
        div.motion-case__sw-item.swiper-slide
          div.motion-case__sw-wrap
            a.motion-case__sw-link(href="#")
              img.motion-case__sw-img(src="img/picture/motion-case-2.png", alt="")
              div.motion-case__sw-text Видеореклама товаров
        div.motion-case__sw-item.swiper-slide
          div.motion-case__sw-wrap
            a.motion-case__sw-link(href="#")
              img.motion-case__sw-img(src="img/picture/motion-case-3.png", alt="")
              div.motion-case__sw-text Видеореклама товаров
        div.motion-case__sw-item.swiper-slide
          div.motion-case__sw-wrap
            a.motion-case__sw-link(href="#")
              img.motion-case__sw-img(src="img/picture/motion-case-4.png", alt="")
              div.motion-case__sw-text Видеореклама товаров
    div.motion-case__right
      a.motion-case__more(href="portfolio.html")
