div.motion-partner
  div.container
    div.motion-partner__wrap
      div.motion-partner__item
        img.motion-partner__img(src="img/svg/motion/motion-1.svg", alt="")
      div.motion-partner__item
        img.motion-partner__img(src="img/svg/motion/motion-2.svg", alt="")
      div.motion-partner__item
        img.motion-partner__img(src="img/picture/motion-3.png", alt="")
      div.motion-partner__item
        img.motion-partner__img(src="img/svg/motion/motion-4.svg", alt="")
      div.motion-partner__item
        img.motion-partner__img(src="img/svg/motion/motion-5.svg", alt="")
      div.motion-partner__item
        img.motion-partner__img(src="img/svg/motion/motion-6.svg", alt="")
      div.motion-partner__item
        img.motion-partner__img(src="img/svg/motion/motion-7.svg", alt="")
      div.motion-partner__item
        img.motion-partner__img(src="img/svg/motion/motion-8.svg", alt="")
      div.motion-partner__item
        img.motion-partner__img(src="img/picture/motion-9.png", alt="")
      div.motion-partner__item
        img.motion-partner__img(src="img/svg/motion/motion-10.svg", alt="")
