.seo {
  margin-bottom: 104px;
  @include min-width-1280 {
    margin-bottom: 133px;
  }
}

.seo__title {
  margin-bottom: 43px;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.1;
  span {
    display: block;
    text-align: right;
    color: $white;
    text-transform: lowercase;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 1), 0 1px 0 rgba(0, 0, 0, 1), -1px 0 0 rgba(0, 0, 0, 1), 0 -1px 0 rgba(0, 0, 0, 1);
  }
  @include min-width-custom(481px) {
    span {
      text-align: center;
    }
  }
  @include min-width-768 {
    span {
      text-align: left;
    }
  }
  @include min-width-1280 {
    margin-bottom: 60px;
    font-size: 108px;
    line-height: 1;
    span {
      font-size: 89px;
      text-align: center;
    }
  }
}

.seo__wrap {
  @include min-width-1280 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.seo__left {
  margin-bottom: 56px;
  text-align: center;
  @include min-width-1280 {
    width: 45%;
    margin-bottom: 0;
  }
}

.seo__left-video {
  margin-top: -23px;
  video {

  }
  @include min-width-1024 {
    max-width: 65%;
    margin: 0 auto;
  }
  @include min-width-1280 {
    max-width: 100%;
  }
}

.seo__right {
  @include min-width-1280 {
    width: 45.1%;
  }
}

.seo__right-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  span {
    color: $blue;
  }
  @include min-width-1280 {
    margin-bottom: 50px;
    font-size: 32px;
  }
}

.seo__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 150%;
  color: #7c7d87;
  @include min-width-1280 {
    font-size: 16px;
  }
}

.seo__link {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 29px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  border: 1px solid #333333;
  border-radius: 40px;
  @include min-width-1280 {
    margin-top: 70px;
    padding: 14px 46px;
    font-size: 18px;
  }
  &:hover {
    color: $white;
    background: $blue;
    border-color: $blue;
    .seo__link-text {
      right: -20px;
    }
    .seo_link-svg {
      right: -80px;
      opacity: 0;
      transition: 0.5s;
    }
  }
}

.seo__link-text {
  position: relative;
  right: 0;
  transition: 0.2s;
}

.seo_link-svg {
  position: relative;
  right: 0;
  width: 28px;
  height: 12px;
  margin-left: 5px;
  @include min-width-1280 {
    margin-left: 11px;
  }
}
