.serv-support {
  margin-bottom: 69px;
  @include min-width-1280 {
    margin-bottom: 132px;
  }
}

.serv-support__title {
  margin-bottom: 43px;
  font-size: 42px;
  font-weight: 900;
  text-transform: lowercase;
  line-height: 1;
  text-align: right;
  span {
    color: $white;
    text-transform: lowercase;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 1), 0 1px 0 rgba(0, 0, 0, 1), -1px 0 0 rgba(0, 0, 0, 1), 0 -1px 0 rgba(0, 0, 0, 1);
  }
  @include min-width-1280 {
    margin-bottom: 73px;
    font-size: 90px;
    line-height: 1;
  }
}

.serv-support__wrap {
  display: flex;
  flex-direction: column-reverse;
  @include min-width-1280 {
    flex-direction: row;
    justify-content: space-between;
  }
}

.serv-support__left {
  margin-bottom: 41px;
  @include min-width-1280 {
    width: 50%;
    margin-bottom: 0;
  }
}

.serv-support__left-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  span {
    color: $blue;
  }
  @include min-width-1280 {
    margin-bottom: 43px;
    font-size: 36px;
    letter-spacing: -0.06em;
  }
}

.serv-support__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 150%;
  color: #7c7d87;
  @include min-width-1280 {
    font-size: 16px;
  }
}

.serv-support__link {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 29px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  border: 1px solid #333333;
  border-radius: 40px;
  transition: background 0.2s ease-out, border-color 0.2s ease-out;
  @include min-width-1280 {
    margin-top: 70px;
    padding: 14px 50px;
    font-size: 18px;
  }
  &:hover {
    color: $white;
    background: $blue;
    border-color: $blue;
    .serv-support__link-text {
      right: -20px;
    }
    .serv-support__link-svg {
      right: -80px;
      opacity: 0;
      transition: 0.5s;
    }
  }
}

.serv-support__link-text {
  position: relative;
  right: 0;
  transition: 0.2s;
}

.serv-support__link-svg {
  position: relative;
  right: 0;
  width: 28px;
  height: 12px;
  margin-left: 5px;
  @include min-width-1280 {
    margin-left: 11px;
  }
}

/*.serv-support__link {
  margin-top: 21px;
  @include min-width-1280 {
    margin-top: 51px;
    padding: 15px 89px;
    font-size: 18px;
  }
}

.serv-support__link-svg {

}*/

.serv-support__right {
  margin-bottom: 104px;
  @include min-width-1280 {
    width: 45%;
  }
}

.serv-support__img {

}
