div.container
  div.footer__wrap
    div.footer__menu
      ul.footer__menu-list
        li.footer__menu-item
          a.footer__menu-link(href="#") Веб-дизайн
        li.footer__menu-item
          a.footer__menu-link(href="design.html") Графический дизайн
        li.footer__menu-item
          a.footer__menu-link(href="motion.html") Motion дизайн
        li.footer__menu-item
          a.footer__menu-link(href="#") Web-разработка
        li.footer__menu-item
          a.footer__menu-link(href="support.html") Техническая поддержка
        li.footer__menu-item
          a.footer__menu-link(href="#") Продвижение и маркетинг
        li.footer__menu-item
          a.footer__menu-link(href="#") Копирайтинг
        li.footer__menu-item
          a.footer__menu-link(href="vacancy.html") Вакансии
    div.footer__column
      div.footer__column-item
        div.footer__column-title Адрес:
        a.footer__column-address(href="https://yandex.ru/maps/213/moscow/?ll=37.622504%2C55.753215&mode=routes&rtext=~55.784020%2C37.511553&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.512%252C55.784%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25B2%25D0%25B0%252C%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2520%25D0%2597%25D0%25BE%25D1%2580%25D0%25B3%25D0%25B5%252C%252014%25D0%25BA3&z=10" target="_blank") Город Москва, улица Зорге, дом 14, корпус 3
      div.footer__column-item
        div.footer__column-title Телефон:
        a.footer__column-phone(href="tel:+74952552992") +7 (495) 255-29-92
        a.footer__column-phone(href="tel:+79266404452") +7 (926) 640-44-52
    div.footer__column.footer__column_last
      div.footer__column-item.footer__column-item_time
        div.footer__column-title Наш график:
        div.footer__column-time Пн-Пт: 10:00 - 19:00
      div.footer__column-item
        div.footer__column-title Для заявок:
        a.footer__column-mail(href="mailto:contact@promind.studio") contact@promind.studio
      div.footer__column-flex
        button.footer__column-lang
          svg.footer__column-lang-svg
            use(xlink:href="img/svg/sprite.svg#lang")
          span.footer__column-lang-span En
        a.footer__column-presentation(href="#", target="_blank") Презентация
  div.footer__copyright
    div.footer__copyright-social
      a.footer__copyright-social-link(href="https://www.facebook.com/Promind-1744565009184870" target="_blank") Facebook
      a.footer__copyright-social-link(href="https://www.instagram.com/promind.studio/" target="_blank") Instagram
    a.footer__copyright-privacy(href="privacy.html") Политика конфиденциальности
    div.footer__copyright-dev Copyright © 2021  ProMind
