div.container
  div.footer__wrap
    div.footer__menu
      ul.footer__menu-list
        li.footer__menu-item
          a.footer__menu-link(href="#") Веб-дизайн
        li.footer__menu-item
          a.footer__menu-link(href="#") Графический дизайн
        li.footer__menu-item
          a.footer__menu-link(href="#") Motion дизайн
        li.footer__menu-item
          a.footer__menu-link(href="#") Web-разработка
        li.footer__menu-item
          a.footer__menu-link(href="#") Техническая поддержка
        li.footer__menu-item
          a.footer__menu-link(href="#") Продвижение и маркетинг
        li.footer__menu-item
          a.footer__menu-link(href="#") Копирайтинг
        li.footer__menu-item
          a.footer__menu-link(href="#") Вакансии
    div.footer__column
      div.footer__column-item
        div.footer__column-title Адрес:
        address.footer__column-address Город Москва, улица Зорге, дом 14, корпус 3
      div.footer__column-item
        div.footer__column-title Телефон:
        a.footer__column-phone(href="tel:+74952552992") +7 (495) 255-29-92
        a.footer__column-phone(href="tel:+79266404452") +7 (926) 640-44-52
    div.footer__column.footer__column_last
      div.footer__column-item.footer__column-item_time
        div.footer__column-title Наш график:
        div.footer__column-time Пн-Пт: 10:00 - 19:00
      div.footer__column-item
        div.footer__column-title Для заявок:
        a.footer__column-mail(href="mailto:contact@promind.studio") contact@promind.studio
      div.footer__column-flex
        button.footer__column-lang
          svg.footer__column-lang-svg
            use(xlink:href="img/svg/sprite.svg#lang")
          span.footer__column-lang-span En
        a.footer__column-presentation(href="#", target="_blank") Презентация
  div.footer__copyright
    div.footer__copyright-social
      a.footer__copyright-social-link(href="#") Facebook
      a.footer__copyright-social-link(href="#") Instagram
    a.footer__copyright-privacy(href="#") Политика конфиденциальности
    div.footer__copyright-dev Copyright © 2021  ProMind
