block variables

doctype html
html(lang="ru")
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      title #{title}
      link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
      link(rel="icon" href="img/favicon.ico" type="image/x-icon")
      if swiperCSS
        link(rel="stylesheet" href="css/lib/swiper-bundle.min.css")
      if AnimateCSS
        link(rel="stylesheet" href="css/lib/animate.min.css")
      link(rel="stylesheet" href="css/stylesheet.css")
  body(class="" +bodyClass)
    header(class="" +headerClass)
      block header
        include header
    block main
    footer(class="" +footerClass)
      block footer
        include footer
    block scripts
      script(src="js/lib/jquery-3.6.0.min.js")
      script(src="js/lib/bootstrap.bundle.min.js")
      script(src="js/lib/inputmask.min.js")
      if swiperJS
        script(src="js/lib/swiper-bundle.min.js")
      if typedJS
        script(src="js/lib/typed.min.js")
      if MixItUpJS
        script(src="js/lib/mixitup.min.js")
      if lottieJS
        script(src="js/lib/lottie.js")
      if lottiePlayerJS
        script(src="js/lib/lottie-player.js")
      if TweenMaxJS
        script(src="js/lib/TweenMax.min.js")
      if ScrollMagicJS
        script(src="js/lib/ScrollMagic.min.js")
      if gSapJS
        script(src="js/lib/animation.gsap.min.js")
      if WowJS
        script(src="js/lib/wow.min.js")
      script(src="js/main.min.js")
    include ../blocks/request
    include ../blocks/request-vacancy
