extends ../main/layout

block variables
  - let title = "О нас - ProMind"
  - let bodyClass = "about-page"
  - let headerClass = "header"
  - let footerClass = "footer"
  - let lottieJS = true;
  - let lottiePlayerJS = true;
  - let TweenMaxJS = true;
  - let ScrollMagicJS = true;
  - let mixItUpJS = false;
  - let gSapJS = true;
  - let AnimateCSS = true;
  - let WowJS = true;

block main
  main
    div.container
      ul.breadcrumbs
        li.breadcrumbs__item
          a.breadcrumbs__link(href="index.html") Главная
        li.breadcrumbs__separator /
        li.breadcrumbs__item О нас
    include ../includes/about/about-hero
    include ../includes/about/about-promind
    include ../includes/about/about-partner
    include ../includes/about/about-design
    include ../includes/about/about-conversion
    include ../includes/about/about-profit
    include ../includes/about/about-speed
    div.marquee.marquee_about
      div.marquee__wrap
        span.marquee__wrap-text let's work together   let's work together
        span.marquee__wrap-text let's work together   let's work together
        span.marquee__wrap-text let's work together   let's work together
    include ../includes/about/about-approach
    include ../includes/about/about-support
    include ../includes/about/about-instrument
    include ../includes/about/about-scheme
    include ../blocks/cta
