extends ../main/layout

block variables
  - let title = "Графический дизайн - ProMind"
  - let bodyClass = "design-page"
  - let headerClass = "header"
  - let footerClass = "footer"
  - let swiperCSS = true
  - let swiperJS = true
  - let typedJS = true;
  - let MixItUpJS = true;
  - let TweenMaxJS = true;
  - let ScrollMagicJS = true;
  - let gSapJS = true;
  - let AnimateCSS = true;
  - let WowJS = true;

block main
  main
    div.design
      div.container
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link(href="index.html") Главная
          li.breadcrumbs__separator /
          li.breadcrumbs__item Графический дизайн
      include ../includes/design/design
    include ../includes/design/we
    include ../includes/design/logos
    include ../includes/design/case
    include ../blocks/cta
    div.marquee.marquee_design
      div.marquee__wrap
        span.marquee__wrap-text let's work together   let's work together
        span.marquee__wrap-text let's work together   let's work together
        span.marquee__wrap-text let's work together   let's work together
