extends ../main/layout

block variables
  - let title = "Главная - ProMind"
  - let bodyClass = "index-page"
  - let headerClass = "header"
  - let footerClass = "footer"
  - let typedJS = true;
  - let AnimateCSS = true;
  - let WowJS = true;

block main
  main
    include ../includes/index/hero
    include ../includes/index/work
    include ../blocks/cta
    div.marquee.marquee_index
      div.marquee__wrap
        span.marquee__wrap-text Hello! I wanna be COOL!   Hello! I wanna be COOL!
        span.marquee__wrap-text Hello! I wanna be COOL!   Hello! I wanna be COOL!
        span.marquee__wrap-text Hello! I wanna be COOL!   Hello! I wanna be COOL!
