extends ../main/layout

block variables
  - let title = "Motion дизайн - ProMind";
  - let bodyClass = "motion-page";
  - let headerClass = "header";
  - let footerClass = "footer";
  - let swiperCSS = true;
  - let swiperJS = true;
  - let typedJS = true;
  - let MixItUpJS = true;
  - let AnimateCSS = true;
  - let WowJS = true;

block main
  main
    div.container
      ul.breadcrumbs
        li.breadcrumbs__item
          a.breadcrumbs__link(href="index.html") Главная
        li.breadcrumbs__separator /
        li.breadcrumbs__item
          a.breadcrumbs__link(href="vacancy.html") Услуги
        li.breadcrumbs__separator /
        li.breadcrumbs__item Моушн-дизайн
    include ../includes/motion/motion
    include ../includes/motion/motion-partner
    include ../includes/motion/make
    include ../includes/motion/creative
    include ../includes/motion/motion-case
    include ../includes/motion/faq
    include ../blocks/cta
    div.marquee.marquee_motion
      div.marquee__wrap
        span.marquee__wrap-text let's work together   let's work together
        span.marquee__wrap-text let's work together   let's work together
        span.marquee__wrap-text let's work together   let's work together
