extends ../main/layout

block variables
  - let title = "Портфолио - ProMind"
  - let bodyClass = "portfolio-page"
  - let headerClass = "header"
  - let footerClass = "footer"
  - let AnimateCSS = true;
  - let MixItUpJS = true;
  - let WowJS = true;

block main
  main
    div.container
      ul.breadcrumbs
        li.breadcrumbs__item
          a.breadcrumbs__link(href="index.html") Главная
        li.breadcrumbs__separator /
        li.breadcrumbs__item Портфолио
    section.portfolio
      div.container.container__portfolio
        div.portfolio__title
          video.portfolio__title-video(playsinline autoplay muted preload="auto" loop="loop" poster="")
            source(src="files/service-heading.mp4" type="video/mp4")
          h1.portfolio__title-text.page-title Портфолио
      div.container
        div.portfolio__filter-title Категория сайта
        div.portfolio__filter-wrap
          button.portfolio__filter-btn(data-filter="all") Все <span>49</span>
          button.portfolio__filter-btn(data-filter=".cat-1" data-sort="random") Интернет-магазин <span>3</span>
          button.portfolio__filter-btn(data-filter=".cat-2") Корпоративный сайт <span>1</span>
          button.portfolio__filter-btn(data-filter=".cat-3") Лендинг <span>5</span>
          button.portfolio__filter-btn(data-filter=".cat-4") Многостраничный сайт <span>40</span>
      div.portfolio__wrap
        div.portfolio__item.mix.cat-1
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-1.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title L’ALGA
            p.portfolio__item-text A new professional hair care and treatment line that redefines luxury through a unique #algae complex.
        div.portfolio__item.mix.cat-2
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-2.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title ILCO
            p.portfolio__item-text Компания IL-CO Групп
        div.portfolio__item.mix.cat-3
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-3.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title WHO I AM
            p.portfolio__item-text Проект, который включает в себя многофункциональное арт-пространство, fashion-бренд и фабрику производства одежды.
        div.portfolio__item.mix.cat-1.wow.animate__animated.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.1s")
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-4.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title Sunrise Capital Group
            p.portfolio__item-text SUNRISE CAPITAL инвестирует в активы недвижимости В класса с количеством 200 и более квартир и фокусируется на их стабильности.
        div.portfolio__item.mix.cat-2.wow.animate__animated.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s")
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-5.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title MerkSpace
            p.portfolio__item-text Merkspace is an international chain of coworking, private offices and event space
        div.portfolio__item.mix.cat-3.wow.animate__animated.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.3s")
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-6.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title Avi Malka
            p.portfolio__item-text Сайт про салон и школу легендарного израильского стилиста — Ави Малка.
        div.portfolio__item.mix.cat-4.wow.animate__animated.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.1s")
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-7.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title Dark Studio
            p.portfolio__item-text Dark Studio по производству видеороликов была создана в марте 2018 года компанией Dark Group.
        div.portfolio__item.mix.cat-1.wow.animate__animated.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s")
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-8.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title CasaBlanca
            p.portfolio__item-text Сайт о популярной танцевальной школе.
        div.portfolio__item.portfolio__item_dark.mix.cat-4.wow.animate__animated.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.3s")
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-9.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title Polynor Thermo Block
            p.portfolio__item-text Профессиональный полиуретановый клей для кладки
        div.portfolio__item.mix.cat-4.wow.animate__animated.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.1s")
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-10.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title ЖК Красина
            p.portfolio__item-text Комплекс для яркой и гармоничной жизни
        div.portfolio__item.portfolio__item_dark.mix.cat-2.wow.animate__animated.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s")
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-11.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title TopArtStyle
            p.portfolio__item-text TopArtStyle — один из масштабных и лучших проектов нашей студии.
        div.portfolio__item.portfolio__item_dark.mix.cat-3.wow.animate__animated.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.3s")
          a.portfolio__item-link(href="internal.html")
          img.portfolio__item-img(src="img/picture/portfolio/portfolio-12.jpg", alt="Lalga")
          div.portfolio__item-wrap
            h2.portfolio__item-title Vmma
            p.portfolio__item-text Один из новостных сайтов нашей студии. Сайт разработан на Wordpress.
    include ../blocks/cta
    div.marquee.marquee_portfolio
      div.marquee__wrap
        span.marquee__wrap-text Hello! I wanna be COOL!   Hello! I wanna be COOL!
        span.marquee__wrap-text Hello! I wanna be COOL!   Hello! I wanna be COOL!
        span.marquee__wrap-text Hello! I wanna be COOL!   Hello! I wanna be COOL!
