extends ../main/layout

block variables
  - let title = "Услуги - ProMind"
  - let bodyClass = "service-page"
  - let headerClass = "header"
  - let footerClass = "footer"
  - let typedJS = true;
  - let AnimateCSS = true;
  - let WowJS = true;

block main
  main
    div.container
      ul.breadcrumbs
        li.breadcrumbs__item
          a.breadcrumbs__link(href="index.html") Главная
        li.breadcrumbs__separator /
        li.breadcrumbs__item Услуги
    include ../includes/service/tariffs
    include ../includes/service/ux
    include ../includes/service/graph
    include ../includes/service/motion-serv
    div.marquee.marquee_service
      div.marquee__wrap
        span.marquee__wrap-text Hello! I wanna be COOL!   Hello! I wanna be COOL!
        span.marquee__wrap-text Hello! I wanna be COOL!   Hello! I wanna be COOL!
        span.marquee__wrap-text Hello! I wanna be COOL!   Hello! I wanna be COOL!
    include ../includes/service/serv-dev
    include ../includes/service/serv-support
    include ../includes/service/seo
    include ../includes/service/copy
    include ../blocks/cta
