section.about-conversion
  div.container
    div.about-conversion__wrap
      div#aboutConversion.about-conversion__left
      div.about-conversion__right
        h2.about-conversion__title.wow.animate__animated.animate__fadeIn(data-wow-duration="2s") Конверсия
        div#aboutConversionMob.about-conversion__right-mob
        div.about-conversion__descr.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") <span>Ключевой показатель</span> эффективности сайта
        p.about-conversion__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") Создавать ресурсы с конверсией до 30% нам позволяют знания главных принципов интернет-продвижения и успешный опыт в этой области. Тщательный анализ сферы деятельности вашей компании и внимание к деталям – гарантия высокой конверсии.
