section.about-speed
  div.container
    div.about-speed__wrap
      div#aboutSpeed.about-speed__left
      div.about-speed__right
        h2.about-speed__title Скорость
        div#aboutSpeedMob.about-speed__left-mob
        div.about-speed__descr <span>Сайт – это эффективный инструмент</span> бизнеса, где время – деньги
        p.about-speed__text Сайт – это эффективный инструмент бизнеса, где время – деньги. Мы готовы создать функциональный и работоспособный ресурс в сжатые сроки, чтобы ваша компания развивалась быстрей и успешней.
