section.about-promind
  div.container
    div.about-promind__wrap
      div.about-promind__left
        h1.about-promind__title ProMind
        div.about-promind__description.wow.animate__animated.animate__fadeIn(data-wow-duration="2s") <span>международная веб-студия</span> с 10-летним опытом
        img.about-promind__img.about-promind__img_mob(src="img/svg/about-promind.svg", alt="ProMind")
        p.about-promind__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") Все наши проекты выполняются строго по индивидуальному дизайну в постоянной обратной связи с клиентом.
        p.about-promind__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") В наших офисах, расположенных в <span>Москве</span> и <span>Тель-Авиве</span>, ежедневно «кипит» работа над созданием и продвижением сайтов любого типа и уровня сложности.
        p.about-promind__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") Мы объединили опыт и профессионализм IT-разработчиков, дизайнеров, SEO-специалистов, маркетологов и копирайтеров, чтобы создать Ваш идеальный веб-ресурс – от Landing Page до рейтингового портала.
        p.about-promind__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") Знание специфики интернет-индустрии, использование современных методов разработки и продвижения позволяет выдать качественный результат в короткие сроки.
        p.about-promind__done.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s") Ваш успех – наша цель!
      div.about-promind__right
        img.about-promind__img(src="img/svg/about-promind.svg", alt="ProMind")

