div.about-instrument
  div.container
    div.about-instrument__wrap
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-1.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-2.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-3.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-4.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-5.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-6.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-7.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-8.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-9.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-10.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-11.svg", alt="")
      div.about-instrument__item
        img.about-instrument__img(src="img/svg/instrument-12.svg", alt="")
