section.about-scheme
  div.container
    h2.about-scheme__title Этапы <span>работы</span>
    div.about-scheme__wrap
      img.about-scheme__img(src="img/svg/about-scheme.svg", alt="")
      img.about-scheme__img.about-scheme__img_mob(src="img/svg/about-scheme-mob.svg", alt="")
