section.about-approach
  div.container
    div.about-approach__wrap
      div.about-approach__left
        h2.about-approach__title Подход
        div#aboutApproachMob.about-approach__left-mob
        div.about-approach__descr <span>Главный продукт</span> нашей студии - эффективный сайт, который увеличит вашу прибыль
        p.about-approach__text Индивидуальный подход к каждому, постоянная взаимосвязь с клиентом – наши основные принципы при создании сайта. От начала разработки до полной готовности проекта мы взаимодействуем с вами, учитываем комментарии и внедряем ваши пожелания.
      div#aboutApproach.about-approach__right
