section.about-support
  div.container
    div.about-support__wrap
      div#aboutSupport.about-support__left
      div.about-support__right
        h2.about-support__title Поддержка
        div#aboutSupportMob.about-support__right-mob
        div.about-support__descr <span>Техподдержка</span> - залог бесперебойной и правильной работы ресурса
        p.about-support__text Сопровождение и техподдержка вашего сайта, которую осуществляют наши специалисты 24/7, без выходных и праздников – залог бесперебойной и правильной работы ресурса, а значит стабильное внимание и постоянный интерес потенциальных клиентов к вашей компании.
