section.about-promind
  div.container
    div.about-promind__wrap
      div.about-promind__left
        h1.about-promind__title ProMind
        div.about-promind__description <span>международная веб-студия</span> с 10-летним опытом
        img.about-promind__img.about-promind__img_mob(src="img/svg/about-promind.svg", alt="ProMind")
        p.about-promind__text Все наши проекты выполняются строго по индивидуальному дизайну в постоянной обратной связи с клиентом.
        p.about-promind__text В наших офисах, расположенных в <span>Москве</span> и <span>Тель-Авиве</span>, ежедневно «кипит» работа над созданием и продвижением сайтов любого типа и уровня сложности.
        p.about-promind__text Мы объединили опыт и профессионализм IT-разработчиков, дизайнеров, SEO-специалистов, маркетологов и копирайтеров, чтобы создать Ваш идеальный веб-ресурс – от Landing Page до рейтингового портала.
        p.about-promind__text Знание специфики интернет-индустрии, использование современных методов разработки и продвижения позволяет выдать качественный результат в короткие сроки.
        p.about-promind__done Ваш успех – наша цель!
      div.about-promind__right
        img.about-promind__img(src="img/svg/about-promind.svg", alt="ProMind")
