section.about-approach
  div.container
    div.about-approach__wrap
      div.about-approach__left
        h2.about-approach__title.wow.animate__animated.animate__fadeIn(data-wow-duration="2s") Подход
        div#aboutApproachMob.about-approach__left-mob
        div.about-approach__descr.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") <span>Главный продукт</span> нашей студии - эффективный сайт, который увеличит вашу прибыль
        p.about-approach__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") Индивидуальный подход к каждому, постоянная взаимосвязь с клиентом – наши основные принципы при создании сайта. От начала разработки до полной готовности проекта мы взаимодействуем с вами, учитываем комментарии и внедряем ваши пожелания.
      div#aboutApproach.about-approach__right
