section.about-profit
  div.container
    h2.about-profit__title Прибыль
    div.about-profit__wrap
      div.about-profit__descr <span>Главный продукт</span> нашей студии - эффективный сайт, который увеличит вашу прибыль
      p.about-profit__text Эффективный сайт, который привлекает, продает и увеличивает вашу прибыль – главный продукт нашей web-студии. Над его созданием трудятся настоящие профессионалы интернет-индустрии – программисты, разработчики, дизайнеры, SEO-специалисты и маркетологи.
