section.about-speed
  div.container
    div.about-speed__wrap
      div#aboutSpeed.about-speed__left
      div.about-speed__right
        h2.about-speed__title.wow.animate__animated.animate__fadeIn(data-wow-duration="2s") Скорость
        div#aboutSpeedMob.about-speed__left-mob
        div.about-speed__descr.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") <span>Сайт – это эффективный инструмент</span> бизнеса, где время – деньги
        p.about-speed__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") Сайт – это эффективный инструмент бизнеса, где время – деньги. Мы готовы создать функциональный и работоспособный ресурс в сжатые сроки, чтобы ваша компания развивалась быстрей и успешней.
