section.about-design
  div.container
    div.about-design__wrap
      div.about-design__left
        h2.about-design__title.wow.animate__animated.animate__fadeIn(data-wow-duration="2s") Современный <span>дизайн</span>
        div#aboutDesignMob.about-design__right.about-design__right_mob
        div.about-design__descr.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") <span>Вы получаете</span> оригинальный, удобный и функциональный web-ресурс
        p.about-design__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") При разработке сайта любого типа и сложности мы используем современные и прогрессивные технологии дизайна. Поэтому вы получаете оригинальный, удобный и функциональный web-ресурс, способный создать положительный имидж компании и успешно продвигать Ваш бизнес.
      div#aboutDesign.about-design__right
