@import "main/fonts";

@import "lib/bootstrap/functions";
@import "lib/bootstrap/variables";
@import "lib/bootstrap/mixins";
@import "lib/bootstrap/nav";
@import "lib/bootstrap/utilities";
@import "lib/bootstrap/accordion";
@import "lib/bootstrap/transitions";
@import "lib/bootstrap/modal";

/* Main */
@import "mixins/media";
@import "main/main";
@import "main/header";
@import "main/footer";

/* Blocks */
@import "blocks/breadcrumbs";
@import "blocks/request";
@import "blocks/cta";
@import "blocks/marquee";

/* Index Page */
@import "includes/index/hero";
@import "includes/index/work";

/* Project Page (Vacancies) */
@import "includes/project/project";

/* Web-Development Page (Vacancies) */
@import "includes/dev/dev";

/* Vacancies Page */
@import "includes/vacancy/vacancy";

/* Support Page */
@import "includes/support/support";

/* Contacts Page */
@import "includes/contacts/contacts";

/* Portfolio Page */
@import "includes/portfolio/portfolio";

/* Portfolio Page (Internal) */
@import "includes/internal/internal";

/* About Page */
@import "includes/about/about-hero";
@import "includes/about/about-promind";
@import "includes/about/about-partner";
@import "includes/about/about-design";
@import "includes/about/about-conversion";
@import "includes/about/about-profit";
@import "includes/about/about-speed";
@import "includes/about/about-approach";
@import "includes/about/about-support";
@import "includes/about/about-instrument";
@import "includes/about/about-scheme";

/* Design Page */
@import "includes/design/design";
@import "includes/design/we";
@import "includes/design/logos";
@import "includes/design/case";

/* Privacy Page */
@import "includes/privacy/privacy";

/* Motion Page */
@import "includes/motion/motion";
@import "includes/motion/motion-partner";
@import "includes/motion/make";
@import "includes/motion/creative";
@import "includes/motion/motion-case";
@import "includes/motion/faq";

/* Service Page */
@import "includes/service/tariffs";
@import "includes/service/ux";
@import "includes/service/graph";
@import "includes/service/motion-serv";
@import "includes/service/serv-dev";
@import "includes/service/serv-support";
@import "includes/service/seo";
@import "includes/service/copy";
