section.copy
  div.container
    h2.copy__title.wow.animate__animated.animate__fadeIn(data-wow-duration="2s") Копирайтинг
    div.copy__wrap
      div.copy__left
        div.copy__left-title.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") <span>Наша студия</span> готова включиться в работу над вашим проектом на любом этапе его «жизни».
        p.copy__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") Техническая поддержка позволяет поддерживать стабильную работу сайта, улучшить показатели эффективности и обеспечить бесперебойный доступ пользователей к нему.
        p.copy__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s") Услуги по сопровождению сайта включают профессиональную поддержку в сфере программных доработок, аналитике, функционала, дизайна и других направлений, необходимых для беспрерывной работоспособности сайта.
        a.copy__link(href="portfolio.html")
          span.copy__link-text Проконсультироваться
          svg.copy_link-svg
            use(xlink:href="img/svg/sprite.svg#button-arrow")
      div.copy__right
        img.copy__img(src="img/picture/service-copyright.png", alt="")

