section.graph
  div.container
    h2.graph__title.wow.animate__animated.animate__fadeIn(data-wow-duration="2s") Графический <span>дизайн</span>
    div.graph__wrap
      div.graph__left
        img.graph__img(src="img/picture/service-graph.png", alt="")
      div.graph__right
        div.graph__right-title.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") <span>Графические</span> элементы
        p.graph__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") Выполненные в индивидуальном или фирменном стиле поддерживают положительный имидж компании, повышают узнаваемость образа и формируют лояльное отношение клиентов.
        p.graph__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s") Создание любого графического элемента в нашей web-студии – это креативный процесс, которому предшествует анализ сферы деятельности вашей компании, изучение корпоративного стиля и целей, которых надо достичь, благодаря логотипу или баннеру.
        a.graph__link(href="design.html")
          span.graph__link-text Кейсы
          svg.graph_link-svg
            use(xlink:href="img/svg/sprite.svg#button-arrow")
