section.motion-serv
  div.container
    h2.motion-serv__title.wow.animate__animated.animate__fadeIn(data-wow-duration="2s") Motion <span>design</span>
    div.motion-serv__wrap
      div.motion-serv__left
        div.motion-serv__left-title.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") <span>Видеоконтент</span> – актуальный способ привлечь аудиторию, и за ним будущее интернет-продвижения.
        p.motion-serv__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") Поэтому мы предлагаем создать видеоанимацию и проморолики, способные завоевать внимание потенциального клиента уже сегодня.
        p.motion-serv__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s") Используя все возможности современных медиатехнологий, которыми владеет наша студия, вы получите уникальный и эффективный видеоконтент. Такой творческий подход к рекламе поможет вашей компании быть конкурентоспособной, успешной и прибыльной.
        a.motion-serv__link(href="portfolio.html")
          span.motion-serv__link-text Кейсы
          svg.motion-serv__link-svg
            use(xlink:href="img/svg/sprite.svg#button-arrow")
      div.motion-serv__right
        div.motion-serv__right-video
          video(playsinline="", autoplay="autoplay", muted="muted", preload="auto", loop="loop", poster="")
            source(src="files/service-top.mp4", type="video/mp4")

