section.seo
  div.container
    h2.seo__title.wow.animate__animated.animate__fadeIn(data-wow-duration="2s") Продвижение <span>маркетинг</span>
    div.seo__wrap
      div.seo__left
        div.seo__left-video
          video(playsinline="", autoplay="autoplay", muted="muted", preload="auto", loop="loop", poster="")
            source(src="files/marketing_2.mp4", type="video/mp4")
      div.seo__right
        div.seo__right-title.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") <span>Маркетинг и SEO-оптимизация</span> – комплекс услуг, позволяющих улучшить видимость сайта и  его индексацию.
        p.seo__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") С помощью SEO-оптимизации можно выбирать вашу целевую аудиторию и привлечь ее на сайт, используя различные методы продвижения.
        p.seo__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s") Наша цель – вывести ваш сайт в ТОП поисковых систем <strong>Яндекс</strong> и <strong>Google</strong>, расширяя зону влияния вашей компании и увеличивая поток потенциальных клиентов.
        a.seo__link(href="portfolio.html")
          span.seo__link-text Проконсультироваться
          svg.seo_link-svg
            use(xlink:href="img/svg/sprite.svg#button-arrow")
