section#ux.ux
  div.container
    div.ux__wrap
      div.ux__left
        h2.ux__title.wow.animate__animated.animate__fadeIn(data-wow-duration="2s") <span>Дизайн сайта</span> – лаконичный образ компании,  выраженный через индивидуальный графический стиль.
        p.ux__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.1s") Web-дизайнеры нашей студии готовы создать сайт, который будет не только привлекать внимание оригинальностью, но и сочетать главные критерии для пользователей – логичный интерфейс и удобство использования.
        p.ux__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s") Мы готовы создать дизайн сайта с нуля, сделать редизайн уже существующего ресурса и разработать адаптивные версии для его правильного отображения как на ПК, так и на мобильных устройствах.
        a.ux__link.wow.animate__animated.animate__fadeInUp(href="portfolio.html" data-wow-duration="1s" data-wow-delay="0.3s")
          span.ux__link-text Портфолио
          svg.ux_link-svg
            use(xlink:href="img/svg/sprite.svg#button-arrow")
      div.ux__right
        div.ux__right-text UI/
        div.ux__right-video
          video(playsinline="", autoplay="autoplay", muted="muted", preload="auto", loop="loop", poster="")
            source(src="files/service-heading.mp4", type="video/mp4")
          div.ux__right-video-title UX
