.work {
  margin-bottom: 79px;
  .container {
    padding: 0 10px;
  }
  @include min-width-768 {
    margin-bottom: 121px;
  }
}

.work__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
  @include min-width-768 {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 59px;
  }
}

.work__item {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  color: $white;
  overflow: hidden;
  border-radius: 10px;
  &:hover {
    .work__item-img {
      transform: scale(1.05);
    }
  }
  &_dark {
    color: $black;
    .work__item-more,
    .work__item-svg {
      color: $black;
    }
  }
  &:nth-child(6) ~ .work__item {
    display: none;
    @include min-width-1280 {
      display: block;
    }
  }
  @include min-width-768 {
    width: calc(100% / 2 - 10px);
  }
}

.work__item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.work__item-video {

}

.work__item-img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.work__item-wrap {
  position: absolute;
  top: 16px;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
  text-align: center;
  @include min-width-1024 {
    top: 30px;
    width: 85%;
  }
  @include min-width-custom(1440px) {
    top: 44px;
    width: 560px;
  }
}

.work__item-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  @include min-width-1280 {
    font-size: 32px;
  }
  @include min-width-custom(1440px) {
    font-size: 36px;
  }
}

.work__item-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  @include min-width-1024 {
    font-size: 13px;
    line-height: 1.3;
  }
  @include min-width-custom(1440px) {
    font-size: 14px;
  }
}

.work__all {
  text-align: center;
}

.work__all-link {
  position: relative;
  padding: 10px 30px;
  font-weight: 500;
  color: #333333;
  border: 1px solid $black;
  border-radius: 40px;
  @include min-width-1280 {
    padding: 13px 40px;
  }
  &:hover {
    color: $white;
    background: $blue;
    border-color: $blue;
    .work__all-link-text {
      right: -20px;
    }
    .work__all-svg {
      right: -80px;
      opacity: 0;
      transition: 0.5s;
    }
  }
}

.work__all-link-text {
  position: relative;
  right: 0;
  transition: 0.2s;
}

.work__all-svg {
  position: relative;
  right: 0;
  width: 28px;
  height: 12px;
  margin-left: 10px;
  color: #333333;
}
