.creative {
  margin-bottom: 91px;
  @include min-width-1280 {
    margin-bottom: 215px;
  }
}

.creative__wrap {
  text-align: center;
}

.creative__text {
  margin-bottom: 34px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.03em;
  line-height: 1.2;
  span {
    color: $blue;
  }
  @include min-width-1280 {
    max-width: 1090px;
    margin: 0 auto 52px;
    font-size: 60px;
  }
}

.creative__btn {
  padding: 17px 33px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 32px;
  border: 1px solid $black;
}
