section.work
  div.container
    div.work__wrap
      div.work__item.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-1.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title L’ALGA
          p.work__item-text A new professional hair care and treatment line that redefines luxury through a unique #algae complex.
      div.work__item.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-2.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title ILCO
          p.work__item-text Компания IL-CO Групп
      div.work__item.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-3.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title WHO I AM
          p.work__item-text Проект, который включает в себя многофункциональное арт-пространство, fashion-бренд и фабрику производства одежды.
      div.work__item.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-4.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title Sunrise Capital Group
          p.work__item-text SUNRISE CAPITAL инвестирует в активы недвижимости В класса с количеством 200 и более квартир и фокусируется на их стабильности.
      div.work__item.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-5.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title MerkSpace
          p.work__item-text Merkspace is an international chain of coworking, private offices and event space
      div.work__item.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-6.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title Avi Malka
          p.work__item-text Сайт про салон и школу легендарного израильского стилиста — Ави Малка.
      div.work__item.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-7.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title Dark Studio
          p.work__item-text Dark Studio по производству видеороликов была создана в марте 2018 года компанией Dark Group.
      div.work__item.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-8.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title CasaBlanca
          p.work__item-text Сайт о популярной танцевальной школе.
      div.work__item.work__item_dark.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-9.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title Polynor Thermo Block
          p.work__item-text Профессиональный полиуретановый клей для кладки
      div.work__item.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-10.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title ЖК Красина
          p.work__item-text Комплекс для яркой и гармоничной жизни
      div.work__item.work__item_dark.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-11.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title TopArtStyle
          p.work__item-text TopArtStyle — один из масштабных и лучших проектов нашей студии.
      div.work__item.work__item_dark.wow.animate__animated.animate__fadeIn
        a.work__item-link(href="#")
        img.work__item-img(src="img/picture/portfolio/portfolio-12.jpg", alt="Lalga")
        div.work__item-wrap
          h2.work__item-title Vmma
          p.work__item-text Один из новостных сайтов нашей студии. Сайт разработан на Wordpress.
    div.work__all
      a.work__all-link(href="portfolio.html")
        span.work__all-link-text Посмотреть все работы
        svg.work__all-svg
          use(xlink:href="img/svg/sprite.svg#button-arrow")
